.detail {
  // max-width: 500px;
  .content {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 40px;
  }
  .media {
    margin-bottom: 10px;
  }
  .info {
    margin-bottom: 16px;
  }
  .brand {
    font-size: 24px;
    margin-bottom: 8px;
  }
  .description {
    margin-top: 20px;
    line-height: 1.2;
  }
  .back {
    display: inline-flex;
    min-width: 200px;
    margin-bottom: 20px;
  }
}