.form {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	.field {
		margin-bottom: 20px;
		label {
			display: flex;
			justify-content: space-between;
			margin-bottom: 6px;
		}
		input[type="text"],
		textarea,
		select {
			display: block;
			width: 100%;
			padding: 8px 16px;
			font-family: inherit;
			font-size: 16px;
			&:hover,
			&:focus {
				outline: none;
			}
		}
		textarea {
			min-height: 60px;
			max-height: 200px;
		}
		.error {
			font-size: 13px;
			padding: 4px;
			background-color: #F24E1E;
		}
	}
	.button {
		display: block;
		width: 100%;
		padding: 8px 16px;
		font-family: inherit;
		font-size: 16px;
		cursor: pointer;
		background-color: #fff;
		color: #333;
		border: none;
		transition: background-color .3s, color .3s;

		&:hover,
		&:focus {
			background-color: #F24E1E;
			color: #fff;
		}
	}
}