@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&family=Jura:wght@300;400;500;600;700&display=swap');

// font-family: 'Bruno Ace', cursive;
// font-family: 'Jura', sans-serif;

body {
  background-color: #333;
  color: #fff;
  font-family: 'Jura', sans-serif;
}

.main {
  padding: 40px 12px;
}

h1 {
  font-size: 36px;
  font-family: 'Bruno Ace', cursive;
  letter-spacing: 3px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  transition: all .4s;
  &:hover,
  &:focus {
    background-color: #F24E1E;
    color: #fff;
  }
}